.container-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 7px;
  width: 30%;
  margin: 10px;
  align-items: center;
  gap: 6px;
  margin-top: 140px;
}
.linker-news {
  text-align: center;
  text-decoration: none;
  border: 2px solid gray;
  width: 95px;
  padding: 2px;
  border-radius: 5px;
}

p {
  text-align: center;
  font-family: 'menlo';
}

h3 {
  text-align: center;
}
