header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 80px;
    /* background: linear-gradient(180deg, #272727 55.21%, rgba(39, 39, 39, 0) 88.02%); */
  }

.container-menu {
  display: flex;
  }

  .menu {
    display: flex;
    align-items: center;
    margin: 0 13rem;
  }
  .menu ul {
    display: flex;
    width: 501px;
    height: 26px;
  }
  
  .menu ul li {
    list-style: none;
    margin-left: 32px;
  }
  
  .menu ul li a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
  }

  .logos {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo-marca img {
    width: 140px;
  }
  
  .logo-perfil img {
    width: 28px;
  }