.title {
  text-align: center;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#Light .title h1 {
  color: rgb(0, 0, 0);
}
.container-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.error {
  padding-top: 35px;
  width: 600px;
  height: 500px;
}
