.section-aboutus {
    width: 100vw;
    height: 100vh;
    /* background-color: #272727; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
  }
  .acordion-aboutus{
    width: 500px;
  }
  .acordion-aboutus .item{
    background-color: #f2c628;
    margin-bottom: 5px;
    padding: 10px 20px;
    border: 1px solid;
    border-color: black;
    border-radius: 1rem;
  }
  .title{
    /* color: rgb(0, 0, 0); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .title h2{
    color: black;
  }
  .content{
    color: #000000;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(1,0,1,0);
  }
  .content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
  }
  /* .section-aboutus .container-aboutus {
    height: 349px;
    width: 349px;
    box-shadow: 5px -5px 15px rgba(76, 76, 79, 0.7), -5px 5px 20px #000000;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 80px;
  }
  
  .container-aboutus .title-aboutus {
    font-size: 69px;
    font-weight: 400;
    padding-left: 20px;
    text-shadow: 5px -5px 10px #4c4c4f, -5px 5px 9px #000000;
    color: #272727;
  }
  
  .container-aboutus .text-aboutus {
    font-weight: 800;
    font-size: 15px;
    font-family: "menlo";
    line-height: 20px;
    color: rgba(255, 205, 5, 0.8);
    padding: 0 20px;
  } */